@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #E13B76;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 134px;
}

body {
    width: 100%;
    height: auto;
    
    background-color: #1F1F1F;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    border-bottom: 1px solid #4e4e4e;
    position: fixed;
    background-color: #1F1F1F;
    z-index: 9;
}

header > .linkportfolio {
    color: #ffff;
    text-decoration: none;
    font-size: 16px;
}

header > ul {
    display: flex;
    list-style: none;
}
header > ul > li {
    color: #fff;
    font-size: 16px;
}
header > ul > li > a {
    color: #ffff;
    font-size: 16px;
    margin-left: 8px;
    letter-spacing: 1px;
    text-decoration: none;
    padding-bottom: 2px;
}

header > ul > li > a > ion-icon {
    display: none;
}

header > ul > li > a:hover {
    border-bottom: 2px solid #E13B76;
}

main {
    width: 100%;
    height: auto;
    /* background-color: palegoldenrod; */
    /* padding: 0px 0; */
    display: flex;
    flex-direction: column;
    gap: 192px;
    padding: 32px 192px;
}

section.landing {
    width: 100%;
    height: 90vh;
    /* background-color: rgb(179, 179, 231); */
    display: flex;
    flex-direction: column;
    gap: 56px;
    justify-content: center;
    align-items: center;
}

.name-profile {
    width: 100%;
    /* background-color: #3a3a3a; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: normal;
}

.name-profile > img { 
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

.name-profile > span { 
    font-size: 14px;
    color: #fff;
}

.landing > .heading {
    /* background-color: red; */

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.landing > .heading > h1 {
    font-size: 48px;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.landing > .heading > p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.email-button {
    border: 2px solid #E13B76;
    display: flex;
    width: auto;
    color: #FFF;
    /* padding: 16px; */
    /* gap: 8px; */
    border-radius: 8px;
}

.email-button > .ilustration {
    /* background-color: green; */
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    border: none;
}
.email-button > .ilustration>ion-icon {
    font-size: 24px;
}
.email-button > #copy-button {
    background-color: #E13B76;
    color: #fff;
    padding: 16px;
    border: none;
    border: none;
}
.email-button > #copy-button>ion-icon {
    font-size: 24px;
}
.email-button > #copy-button:hover {
    opacity: 80%;
}
.email-button > #copy-button:active {
    opacity: 40%;
}



.FAB-icons {
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    background-color: var(--primary);
    font-size: 24px;
    padding: 16px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-box-shadow: 0 0 19px -5px #000000;
    -moz-box-shadow: 0 0 19px -5px #000000;
    box-shadow: 0 0 19px -5px #000000;
}

.menu-links {
    /* background-color: #cd282833; */
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 32px;

    position: fixed;
    right: 64px;
    top: 216px;

    z-index: 2;

    
    
}

.menu-links > .social {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3a3a3a;
    border-radius: 8px;
    padding: 16px;
    gap: 16px;
    

    -webkit-box-shadow: 0 0 19px -5px #000000;
    -moz-box-shadow: 0 0 19px -5px #000000;
    box-shadow: 0 0 19px -5px #000000;
}

.menu-links > .social > a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}



/* MENU NAVIGATION */

.more-links {
    display: none;
}

input#menu {
    display: none;
} 

input#menu:checked ~ .more-links{
    display: flex;
}

input#menu:checked ~ .label1{
    display: none;
}

.more-links > a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.menu-label {
    color: #fff;
    font-size: 18px;
}

.more-links {
    flex-direction: column;
    gap: 16px;
}

.arrow {
    padding: 24px;
}

/*  */

.caldeira-link {
    color: #00e846;
    text-decoration: none;
}
.caldeira-link:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.aquarela {

}

.aquarelabanner {
    background-image: url('../img/aquarela.png');
    background-size: 70%;
    background-position: center;
}

.projetos {
    width: 100%;
    /* height: 100vh; */
    /* background-color: red; */
    padding: 0px;
    height: auto;
}

.projetos > .container {
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.projetos > .container > .heading {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.projeto {
    width: 100%;
    /* border: 3px solid blue; */
    display: flex;
    gap: 48px;
}

.projeto > .left {
    width: 50%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: #fff;
}

.projeto > .left > .title > .description {
    color: var(--primary);
}

.projeto > .ilustrate {
    width: 50%;
    background-color: #3a3a3a;
    border-radius: 8px;
}

hr {
    opacity: 50%;
}

.cta-projeto {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    font-weight: 600;
    border: 1px solid var(--primary);
    border-radius: 8px;
    transition: 200ms ease-in-out;
    font-size: 16px;
}

.cta-projeto:hover {
    background-color: #e13b7570;
}
.cta-projeto:active {
    transition: 100ms ease-in-out;
    background-color: var(--primary);
}

/*  */

.titulo-destaque {
    font-size: 48px;
    font-weight: bold;
}

.paragrafo {
    font-size: 16px;
    line-height: 1.3;
}

.subtitulo {
    font-size: 32px; 
    font-weight: bold;
}
.subtitulo2 {
    font-size: 24px; 
    font-weight: 600;
}

footer {
    margin-top: 104px;
    width: 100%;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 64px;
    border-top: 1px solid #3a3a3a;
}

:root {
    --alturaheadermobile: 90px;
}

#burger {
    display: none;
}

.label-burger {
    display: none;
}

.label-burger {
    /* background-color: palegreen; */
    width: 36px;
    height: 26px;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.lineburger {
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    margin-left: auto;
    transition: .2s;
}

input:checked ~ label > .lineburger {
    background-color: red;
}

input:checked ~ label > .lineburger2 {
    width: 75%;
}
input:checked ~ label > .lineburger3 {
    width: 50%;
}

/* Para os projetos que estão ao contrário */
.projetoreverso {
    flex-direction: row-reverse;
}

@media (max-width: 768px) {

    
    header {
        /* display: none; */
        height: var(--alturaheadermobile);
    
    }

    .label-burger {
        display: flex;
    }

    header > ul {
        /* display: none; */
        left: 100%;
    }

    input:checked ~ ul {
        display: flex;
        left: 20%;
        right: 0;
    }

    header > ul {
        transition: 300ms ease;
        position: absolute;
        flex-direction: column;
        background-color: #232323;
        /* box-shadow: -32px 0 32px 0 #000000; */


        top: var(--alturaheadermobile);
        /* right: 0px; */
        gap: 32px 0;
        padding: 24px 0;
        width: 80%;
        height: 1000px;
        
    }

    header > ul > li {
        display: flex;
        width: 100%;
        /* background-color: rgb(84, 79, 19); */
        padding: 0;
    }
    header > ul > li > b {
        display: none;
    }

    header > ul > li > a > ion-icon {
        display: flex;
    }
    header > ul > li > a {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 16px;
        /* background-color: #000; */
        gap: 8px;
        border-left: 4px solid #E13B76;
        margin-left: 0;
    }

    header > ul > li > a:hover {
        border-bottom: none;
    }

    .email-button > .ilustration {
        /* background-color: green; */
        padding: 12px;
        display: flex;
        align-items: center;
        gap: 16px;
        border: none;
        font-size: 12px;
    }
    .email-button > .ilustration>ion-icon {
        font-size: 16px;
        display: none;
    }
    .email-button > #copy-button {
        background-color: #E13B76;
        color: #fff;
        padding: 8px;
        border: none;
        border: none;
    }
    .email-button > #copy-button>ion-icon {
        font-size: 16px;
    }

    body {
        
    }

    main {
        padding: 24px;
    }

    #landing {
        gap: 64px;
        /* background-color: red; */
    }
    .landing > .heading {
       width: 100%;
    }

    .landing > .heading > h1 {
        font-size: 32px;
    }

    .menu-links {
        /* display: none; */
        flex-direction: row;

        right: 24px;
        top: 520px
    }

    .menu-links > .social {
        flex-direction: row;
    }

    .more-links {
        flex-direction: row;
    }
    
    .projeto {
        /* background-color: red; */
        flex-direction: column;
        height: auto;
    }

    .projeto > .left, .right {
        width: auto;
    }

    .projeto > .ilustrate {
        width: 100%;
        height: 200px;
    }

    /* Para os projetos que estão ao contrário */
    .projetoreverso {
        flex-direction: column;
    }

    ion-icon {
        width: 24px;
    }

    .contato {
        flex-direction: column;
        gap: 48px;
    }

    section.contato > .left {
        width: 100%;
    }
    
    section.contato > .left > h2 {
        font-size: 32px;
        text-align: center;
    }
    section.contato > form {
        width: 100%;
    }

}




.ilustrate {
    /* background-size: 70%; */
    background-position: center bottom;
    background-repeat: no-repeat;
    /* border: 1px solid var(--primary); */
}
.notes {
    background-image: url('../img/notes.png');
    background-size: 80%;
    background-position: center bottom;
    background-repeat: no-repeat;
    /* border: 1px solid var(--primary); */
}

.budychamp {
    background-image: url('../img/budychamp.png');
    background-size: 100%;
    background-position: center;
}


.investmentio  {
    background-image: url('../img/investmentio.png');
    background-size: 50%;
    background-position: center bottom;
    background-repeat: no-repeat;
    /* border: 1px solid var(--primary); */
}

.projeto {
    /* background-color: red; */
}

.cta-projeto {
    display: inline-flex;
}

.notes > img {
    width: 100%;
    height: 100%;
}

h3.subtitulo2 {
    display: flex;
    align-items: center;
    gap: 16px;
}

h3.subtitulo2 > .tag {
    font-size: 12px;
    color: #000;
    background-color: yellow;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: lighter;
}

.left > .title {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contato {
    /* background-color: red; */
    display: flex;
}

.contato > .left {
    width: 50%;
    /* background-color: blue; */
}
.contato > .left > h2 {
    color: #fff;
    font-size: 56px;
    line-height: 1.3;
}
.contato > .left > h2 > span {
    color: #E13B76;
}
.contato > form {
    width: 50%;
    /* background-color: green; */
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.contato > form > div {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contato > form > div > label {
    /* background-color: pink; */
    padding-left: 16px;
    border-left: 4px solid #E13B76;
    color: #fff;
    font-size: 16px;
}

.contato > form > div > label > span {
    color: #E13B76;
}

.contato > form > div > input, textarea {
    padding: 16px;
    background-color: #3a3a3a;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    color: #ffff;
    resize: vertical;
}

.contato > form > button {
    color: #FFF;
    background-color: #E13B76;
    border: none;
    display: flex;
    gap: 16px;
    font-weight: 600;
    padding: 8px 32px;
    align-items: center;
    font-size: 16px;
    width: fit-content;
    border-radius: 32px;
    margin-left: auto;
}

.contato > form > button:hover {
    opacity: 60%;
    cursor: pointer;
}